# .gitignore file

*.tmp
*.psd
*.bak
*.sfk
*.b###
*.zip
*.sch
*.lnk
dialer code- Lucidchart
/Sound Files/Amazon Polly/*.*
/Sound Files/Recordings/*.*
/Sound Files/digits/Original/*.*
/Sound Files/digits/Rendered/*.*

